body {
	font-family: Arial, sans-serif;
	background-color: #f60707;
	margin: 0;
	padding: 0;
}

main {
	text-align: center;
	padding: 20px;
}
th,
td {
	color: #ccc;
}
.freecodecamp-logo {
	width: 100px;
	height: auto;
}

h1 {
	margin-bottom: 20px;
	color: #333;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	background-color: hsl(0, 28%, 17%);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: #f3e7e7;
}

input[type='text'] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.output {
	margin-top: 20px;
}

.name-and-id {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.size {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.sprite-container {
	margin-bottom: 20px;
}

.sprite {
	max-width: 100%;
	height: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	color: #ccc;
}

.speed {
	color: #007bff;
	font-weight: bold;
}
